*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.star{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sun{
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    box-shadow:
    0 0 10px orange,
    0 0 20px orange,
    0 0 30px orange;

    position: absolute;
    animation: ro 120s linear infinite;
}

#sun::after{
    content:'';
    height: 300px;
    width: 300px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#earth{
    height: 10px;
    width: 10px;
    background-color: rgb(107, 195, 251);
    border-radius: 50%;
    box-shadow: 
    0 0 10px rgb(107, 195, 251),
    0 0 20px rgb(107, 195, 251),
    0 0 30px rgb(107, 195, 251);
    position: absolute;
    left: 169.5px;
    animation: ro 10s linear infinite;
}

#earth::after{
    content: '';
    height: 50px;
    width: 50px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#moon{
    height: 4px;
    width: 4px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 
    0 0 10px aliceblue,
    0 0 20px aliceblue,
    0 0 30px aliceblue;
    position: absolute;
    left: 29px;
}

@keyframes ro {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 900px){
    #sun{
        height: 150px;
        width: 150px;
    }
    
    #sun::after{
        height: 500px;
        width: 500px;
        border: 2px solid rgba(245, 245, 245, 0.5);
    }
    
    #earth{
        height: 30px;
        width: 30px;
        left: 304px;
    }
    
    #earth::after{
        height: 100px;
        width: 100px;
        border: 2px solid rgba(245, 245, 245, 0.5);
    }
    
    #moon{
        height: 10px;
        width: 10px;
        left: 60px;
    }
}