.caption{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

ul{
    margin-top: 50px;
}

li{
    list-style: none;
    padding: 10px 50px 10px 30px;
    border-left: 2px solid;
    position: relative;
    /* transition: all .5 linear; */
}

li:hover{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(240, 248, 255, 0.2);
}

a{
    text-decoration: none;
    font-size: large;

}